* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, monospace;
    font-size: 13px;
}

window#waybar {
    background-color: black;
    color: white;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px white;
}

#workspaces button {
    padding: 0 0;
    background-color: transparent;
    color: white;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: gray;
    box-shadow: inset 0 -3px white;
}

#workspaces button.urgent {
    background-color: maroon;
}

#taskbar button {
    padding: 0 4px;
}

#taskbar button.active {
    background-color: gray;
}

#window {
    padding: 0 4px;
    border-left: 1px double white;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 8px;
    color: white;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mpd {
    border-left: 1px double;
}

#window,
#workspaces {
    margin: 0 0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: white;
        color: black;
    }
}

#battery.critical:not(.charging) {
    color: maroon;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: black;
}

#network.disconnected {
    color: gray;
}

#pulseaudio.muted {
    color: gray;
}

#wireplumber.muted {
    color: gray;
}

#temperature.critical {
    color: maroon;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
    color: gray;
}

#idle_inhibitor.activated {
    color: white;
}
